@media (min-width: 768px) {

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
  }

  /* Desktop weather emoji */
  .weather h2::after {
    content: " ⛅";
    font-size: 1.5rem;
  }

  .weather-icon {
    display: none;
  }
}

